

.ri-datetime {
  display: flex;
  align-items: center;
  gap: sys-var(spacing, xs);

  @include pu-font("label-small");
  color: sys-var(color, on-surface-variant);

  .time-range {
    @include pu-font("label-small", true);
  }
}
