

.partners {
  display: flex;
  align-items: center;
  gap: sys-var(spacing, sm);

  .avatars {
    display: flex;
    align-items: center;
    padding: 0 sys-var(spacing, sm) 0 0;
  }

  .avatar {
    margin-right: -sys-var(spacing, sm);
  }

  .joinable-indicator {
    border: 1px dotted sys-var(color, outline);

    border-radius: sys-var(radius, full);
    display: flex;
    align-items: center;
    justify-content: center;

    // Align with Avatar.size
    width: sys-var(size, small);
    height: sys-var(size, small);

    .text {
      font-size: sys-var(font, label-medium, size);
      color: sys-var(color, on-surface-variant);
    }
  }
}
