

// ==================== Content ====================
.chat-page__content {
  background-color: sys-var(color, surface);
  padding: sys-var(spacing, med);
}

// ==================== Footer ====================
.chat-page__footer-container {
  background-color: sys-var(color, surface-container);
  color: sys-var(color, on-surface);
}

.chat-page__footer {
  display: flex;
  align-items: center;
  gap: sys-var(spacing, sm);
  flex-shrink: 0;
  padding: sys-var(spacing, sm) sys-var(spacing, med);

  .field {
    flex: 1;
  }

  .send-button {
    @include pu-icon("small", true);
    flex-shrink: 0;
    cursor: pointer;

    &--disabled {
      opacity: sys-var(opacity, disabled);
      cursor: not-allowed;
    }
  }
}
