

// ==================== Content ====================
.chat-page__content {
  background-color: $pu-color-surface;
  padding: $pu-spacing-med;
}

// ==================== Footer ====================
.chat-page__footer-container {
  background-color: $pu-color-surface-container;
  color: $pu-color-on-surface;
}

.chat-page__footer {
  display: flex;
  align-items: center;
  gap: $pu-spacing-sm;
  flex-shrink: 0;
  padding: $pu-spacing-sm $pu-spacing-med;

  .field {
    flex: 1;
  }

  .send-button {
    @include pu-icon("small", true);
    flex-shrink: 0;
    cursor: pointer;

    &--disabled {
      opacity: $pu-opacity-disabled;
      cursor: not-allowed;
    }
  }
}
