@use "@/styles/main.scss" as *;

.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;

  // ==================== Content ====================
  &__content {
    flex: 1;
    background-color: $pu-color-surface;
    padding: $pu-spacing-med;
  }

  // ==================== Footer ====================
  &__footer-container {
    background-color: $pu-color-surface-container;
    color: $pu-color-on-surface;
  }
  &__footer {
    display: flex;
    align-items: center;
    gap: $pu-spacing-sm;
    flex-shrink: 0;
    padding: $pu-spacing-sm $pu-spacing-med;

    .field {
      flex: 1;
    }

    .send-button {
      @include pu-icon("small", true);
      flex-shrink: 0;
      cursor: pointer;

      &--disabled {
        opacity: $pu-opacity-disabled;
        cursor: not-allowed;
      }
    }
  }
}
