

.publishing-notice {
  width: 98%;
  margin: 0 auto;
}

.content-wrapper {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.af-pub {
  flex: 1;
  overflow-y: auto;
  padding: sys-var(spacing, med) sys-var(spacing, med) sys-var(spacing, lg) sys-var(spacing, med);
  box-sizing: border-box;

  &__head {
    border-radius: sys-var(radius, med);
    background-color: sys-var(color, surface-container);
    padding: 60px sys-var(spacing, lg);

    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
      @include pu-font(headline-large);
    }

    &__title {
      @include pu-font(headline-large);
    }
  }

  &__body {
    flex: 1;
    overflow-y: auto;
    margin-top: sys-var(spacing, med);
    display: flex;
    flex-direction: column;
    gap: sys-var(spacing, med);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 32px;
      background: linear-gradient(to bottom, transparent, sys-var(color, surface));
    }
  }

  &__card {
    border-radius: sys-var(radius, med);
    padding: sys-var(spacing, med);
    background-color: sys-var(color, surface-container);
    display: flex;
    flex-direction: column;
    gap: sys-var(spacing, sm);

    .title {
      @include pu-font(title-large);
    }

    .description {
      @include pu-font(label-large);
    }

    .operation {
      margin: 0 0 0 auto;
      height: 36px;
    }
  }

  &__next {
    width: 73%;
  }

  &__share {
    width: 70%;
    margin-left: auto;
  }

  &__stop {
    width: 73%;
  }
}

.editor-cont {
  flex: 1;
  overflow-y: auto;
}

.footer {
  background-color: sys-var(color, surface-container);
  color: sys-var(color, on-surface);
}

.operations {
  padding: sys-var(spacing, med);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: sys-var(spacing, med);
}

.button {
  margin: 0;
  height: 36px;
  min-width: auto;
  padding: 0 sys-var(spacing, lg);
}
