

.pr-route {
  display: flex;
  flex-direction: column;
  gap: sys-var(spacing, sm);

  .setoff-date {
    display: flex;
    align-items: center;
    gap: sys-var(spacing, xs);

    .date {
      color: sys-var(color, on-surface);
      @include pu-font("label-medium", true);
    }

    .label {
      @include pu-font("label-medium");
      color: sys-var(color, on-surface-variant);
    }
  }

  .route-list {
    display: flex;
    flex-direction: column;
  }
}
