@use "@/styles/main.scss" as *;

.pu-tabs {
  white-space: nowrap;
}

.pu-tabs__item {
  cursor: pointer;
  display: inline-block;

  &.active {
    // active tab retains full opacity
    opacity: 1;
  }

  &.deactive {
    opacity: $pu-opacity-invalid; // disabled/invalid opacity
  }
}
