// Styles of component:partner_request:ride_hailing:PRRideHailingForm

@use "@/styles/main.scss" as *;

.ride-hailing-form {
  &__error {
    color: $pu-color-error;
    padding: $pu-spacing-xs;
    margin-left: auto;
    @include pu-font("label-medium");
  }
}
