

.trip-purpose-picker {
  position: relative;
  width: 100%;

  &__scroll {
    height: 100%;
  }

  &__list {
    gap: sys-var(spacing, sm);
    height: 100%;
    padding: sys-var(spacing, sm) 0;
  }

  &__item {
    display: inline-flex;
    margin-right: sys-var(spacing, sm);
  }

  &__card {
    min-width: 88px;
    height: 100%;
    background-color: sys-var(color, surface-container);
    border-radius: sys-var(radius, xs);
    padding: sys-var(spacing, sm) sys-var(spacing, med);
    border: 1px solid transparent;
    box-sizing: border-box;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: sys-var(spacing, xs);

    transition: border 0.2s ease;

    &.is-selected {
      border: 1px solid sys-var(color, primary);
    }
  }

  &__icon {
    @include pu-icon("large");
    color: sys-var(color, on-surface);
  }

  &__text {
    @include pu-font("label-large");
    color: sys-var(color, on-surface);
    text-align: center;
  }
}
