

.partner-editor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: sys-var(color, surface-container);
  padding: sys-var(spacing, sm) sys-var(spacing, med);
  box-sizing: border-box;

  .left {
    display: flex;
    align-items: center;
    gap: sys-var(spacing, sm);
    @include pu-font("label-large");

    .play-button {
      @include pu-icon("small", true);
      color: sys-var(color, on-surface);
    }

    .role {
      display: flex;
      align-items: center;
      gap: sys-var(spacing, xs);
      cursor: pointer;
    }

    .text {
      color: sys-var(color, on-surface-variant);
    }

    .role-name {
      color: sys-var(color, tertiary);
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: sys-var(spacing, xs);

    .remove-button {
      @include pu-icon("small", true);
      color: sys-var(color, on-surface);
    }
  }
}
