// Styles of component:partner_request:commute:commuteDatetimeForm



.commute-datetime-form {
  &__error {
    color: sys-var(color, error);
    padding: sys-var(spacing, xs);
    margin-left: auto;
    @include pu-font("label-medium");
  }
}
