@use "@/styles/main.scss" as *;

.pu-drawer-scrim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.pu-drawer {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  background: $pu-color-surface;
  border-top-left-radius: $pu-radius-med;
  border-top-right-radius: $pu-radius-med;
  transition: bottom 0.3s ease;

  display: flex;
  flex-direction: column;
  gap: $pu-spacing-med;

  padding: $pu-spacing-med $pu-spacing-med 0 $pu-spacing-med;
  box-sizing: border-box;

  .drawer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .drawer-title {
      @include pu-font("title-large");
      color: $pu-color-on-surface;
    }

    .drawer-close {
      @include pu-icon("medium");
      display: flex;
      align-items: center;
      justify-content: center;
      color: $pu-color-on-surface-variant;
    }
  }

  .drawer-content {
    overflow-y: scroll;
  }
}
