@use "@/styles/main.scss" as *;

.route-editor {
  display: flex;

  &--normal {
    flex-direction: row;
    align-items: flex-start;
    gap: $pu-spacing-sm;

    .content {
      display: flex;
      flex-direction: column;
      gap: $pu-spacing-sm;
      flex-shrink: 0;
      flex-grow: 1;
      align-self: stretch;
      justify-content: center;
    }

    .route-item-wrapper {
      display: flex;
      align-items: center;
      gap: $pu-spacing-sm;
      padding-right: $pu-spacing-sm;
      box-sizing: border-box;
    }

    .route-item {
      background: $pu-color-surface-container;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $pu-spacing-xs $pu-spacing-sm;
      flex-shrink: 0;
      flex-grow: 1;
      min-width: 0;

      &__location {
        @include pu-font("label-large");
        color: $pu-color-on-surface;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
      }
    }

    .operations {
      display: flex;
      flex-direction: column;
      gap: $pu-spacing-sm;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      flex-shrink: 0;
      padding: 0 $pu-spacing-xs;
    }
  }

  &--immersive {
    flex-direction: column;
    gap: $pu-spacing-lg;

    .form {
      display: flex;
      flex-direction: column;
      gap: $pu-spacing-med;
    }

    .route-item {
      display: flex;
      flex-direction: column;
      gap: $pu-spacing-sm;

      &__title {
        @include pu-font("headline-large");
        color: $pu-color-on-surface;
      }

      &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $pu-spacing-xs;
        @include pu-font("title-large");
      }

      &__location {
        flex-grow: 1;
        overflow-x: scroll;
        white-space: nowrap;
        min-height: 32px;
        display: flex;
        align-items: center;
        color: $pu-color-secondary;
        cursor: pointer;
      }

      &__text {
        flex-shrink: 0;
      }

      &__action {
        flex-shrink: 0;
        color: $pu_color_tertiary;
        cursor: pointer;

        @include pu-icon(medium, true);
      }
    }

    .operations {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: $pu-spacing-sm;
    }
  }

  // ========== Errors ==========
  &__errors {
    display: flex;
    flex-direction: column;
    gap: $pu-spacing-xs;
    padding: $pu-spacing-xs $pu-spacing-sm;

    .error-item {
      @include pu-font("label-medium");
      color: $pu-color-error;
    }
  }
}
