// Component:PartnerRequest:DraftPicker's styles



.draft-list {
  position: relative;
  height: 100%;
}

.draft-item {
  padding: sys-var(spacing, sm);
  margin: sys-var(spacing, sm);

  background-color: sys-var(color, surface-container);

  border-radius: sys-var(radius, sm);
}
