// Component:PartnerRequest:DraftPicker's styles



.draft-list {
  position: relative;
  height: 100%;
}

.draft-item {
  padding: $-sys-padding-1;
  margin: $-sys-padding-1;

  background-color: $-sys-color-surface-container;

  @include pu-radius-small;
}
