

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: sys-var(spacing, xs);
  border-radius: sys-var(radius, sm);

  .name {
    @include pu-font("label-small");
    color: sys-var(color, on-surface);
    white-space: nowrap;
  }

  &.type-default {
    background: transparent;
    padding: 0;
  }

  &.type-tag {
    background: sys-var(color, surface-container-highest);
    padding: sys-var(spacing, xs) sys-var(spacing, sm);
  }
}
