// Styles of Component:Common:Field



.field {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: sys-var(spacing, med);

  .field__title {
    color: sys-var(color, on-surface);
  }

  .field__value {
    color: sys-var(color, tertiary);
    word-break: break-word;
  }

  /** 行内文本编辑器 */
  .field__input-value {
    height: 1.4em;
    text-align: right;
  }

  &.is-small {
    gap: sys-var(spacing, xs);

    .field__value {
      @include pu-font("body-large");
    }

    .field__title {
      @include pu-font("body-large");
    }
  }

  &.is-medium {
    gap: sys-var(spacing, sm);

    .field__value {
      @include pu-font("title-large");
    }

    .field__title {
      @include pu-font("title-large");
    }
  }
}
