

.form-item-value {
  padding: sys-var(spacing, sm) 0px;
}
.tips {
  font-size: sys-var(font, label-medium, size);
  color: sys-var(color, on-surface-variant);
  margin-top: sys-var(spacing, xs);
}

.pr-editor {
  display: flex;
  flex-direction: column;
}

.operations {
  display: flex;
  justify-content: space-between;

  .left-buttons,
  .right-buttons {
    display: flex;
    gap: sys-var(spacing, xs);
  }
}

.form-container {
  width: 98%;
}
