

.form-item-value {
  padding: $pu-spacing-sm 0px;
}
.tips {
  @include pu-font-size("label-medium");
  color: $pu-color-on-surface-variant;
  margin-top: $pu-spacing-xs;
}

.pr-editor {
  display: flex;
  flex-direction: column;
}

.operations {
  display: flex;
  justify-content: space-between;

  .left-buttons,
  .right-buttons {
    display: flex;
    gap: $pu-spacing-xs;
  }
}

.form-container {
  width: 98%;
}
