

// ChatEntry styles
.chat-entry {
  padding: sys-var(spacing, sm) sys-var(spacing, med);
  cursor: pointer;

  .row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: sys-var(spacing, sm);

    .left {
      display: flex;
      align-items: center;
      gap: sys-var(spacing, sm);

      .title {
        @include pu-font("body-large");
        color: sys-var(color, on-surface);
      }
    }

    .time {
      flex-shrink: 0;
      @include pu-font("label-small");
      color: sys-var(color, on-surface-variant);
    }
  }

  .row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: sys-var(spacing, xs);
      min-width: 0;

      .sender {
        display: flex;
        align-items: center;
        gap: sys-var(spacing, xs);

        .nickname {
          @include pu-font("label-large");
          color: sys-var(color, on-surface);
          white-space: nowrap;
        }
      }

      .content {
        @include pu-font("label-large");
        color: sys-var(color, on-surface-variant);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .unread {
      background-color: sys-var(color, surface-container);
      border-radius: sys-var(radius, full);
      padding: sys-var(spacing, xs) sys-var(spacing, sm);
      margin-left: sys-var(spacing, sm);

      .count {
        @include pu-font("label-small");
        color: sys-var(color, on-surface-variant);
      }
    }
  }
}
