@use "@/styles/main.scss" as *;

.pr-detail-page {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    padding: $pu-spacing-sm $pu-spacing-med;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    .ops {
      display: flex;
      gap: $pu-spacing-sm;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $pu-spacing-med;
    overflow-y: scroll;

    .drawer-placeholder {
      height: 60px;
    }
  }

  .section {
    flex-direction: column;
    gap: $pu-spacing-sm;
    padding: $pu-spacing-sm $pu-spacing-med;
  }

  .section-title {
    @include pu-font("title-large");
    color: $pu-color-on-surface;
  }

  .section-subtitle {
    @include pu-font("label-medium");
    color: $pu-color-on-surface-variant;
  }

  .partners {
    display: flex;
    flex-direction: column;
    gap: $pu-spacing-sm;

    .roles {
      display: flex;
      flex-direction: column;
      gap: $pu-spacing-sm;
    }
  }

  // .route styles moved to PRRoute component

  .drawer-placeholder {
    height: 155px; // drawer folded height
    flex-shrink: 0;
  }

  .drawer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $pu-spacing-lg $pu-spacing-med;
    display: flex;
    flex-direction: column;
    gap: $pu-spacing-med;

    background: linear-gradient(180deg, transparent 0%, $pu-color-surface 30%);
    backdrop-filter: blur(0.5px);

    /* smooth snap animation via top change (computed in script) */
    transition: top 220ms ease-out;

    &.expanded {
      gap: $pu-spacing-lg;
      padding-top: $pu-spacing-sm;
      backdrop-filter: blur(8px);
    }

    .page-metadata {
      display: flex;
      flex-direction: column;
      gap: $pu-spacing-sm;

      .tags {
        display: flex;
        justify-content: flex-end;
        gap: $pu-spacing-sm;
      }

      .identifier {
        @include pu-font("headline-large");
        display: flex;
        align-items: center;
        justify-content: space-between;

        .id {
          font-weight: 100;
          color: $pu-color-on-surface-variant;
          @include pu-font("headline-large", true);
        }
        .title {
          color: $pu-color-on-surface;
        }
      }

      .summary {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        @include pu-font("body-large");

        .title {
          color: $pu-color-on-surface;
        }

        .description {
          color: $pu-color-on-surface-variant;
        }
      }
    }

    .content {
      flex: 1;
      overflow-y: scroll;

      // --pu-textarea-bg-color: #{$pu-color-surface-container};
      --chat-content-bg-color: #{$pu-color-surface-container};
    }

    .operations {
      display: flex;
      flex-direction: column;
      gap: $pu-spacing-sm;
    }
  }
}
