@use "@/styles/main.scss" as *;

.pr-detail-page {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    padding: $pu-spacing-sm $pu-spacing-med;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    .ops {
      display: flex;
      gap: $pu-spacing-sm;
    }
  }

  .content {
    flex: 1;
    overflow-y: scroll;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: $pu-spacing-sm;
    padding: $pu-spacing-sm $pu-spacing-med;

    .section-title {
      @include pu-font("title-large");
      color: $pu-color-on-surface;
    }
  }

  .partners {
    display: flex;
    flex-direction: column;
    gap: $pu-spacing-sm;

    .roles {
      display: flex;
      flex-direction: column;
      gap: $pu-spacing-sm;
    }

    .role-card {
      background: $pu-color-surface-container;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $pu-spacing-sm $pu-spacing-med;

      .meta {
        display: flex;
        gap: $pu-spacing-sm;
        align-items: center;
        .id {
          color: $pu-color-on-surface-variant;
        }
        .name {
          color: $pu-color-on-surface;
        }
      }

      .right {
        display: flex;
        gap: $pu-spacing-sm;
        align-items: center;
        .player {
          display: flex;
          gap: $pu-spacing-xs;
          align-items: center;
          .avatar {
            width: $pu-icon-size-small;
            height: $pu-icon-size-small;
            border-radius: $pu-radius-full;
            background: $pu-color-neutral-container;
          }
          .player-name {
            color: $pu-color-on-surface;
            @include pu-font("label-small");
          }
          .hint {
            color: $pu-color-on-surface;
            @include pu-font("label-small");
          }
        }

        .chevron {
          width: $pu-icon-size-small;
          height: $pu-icon-size-small;
          background: transparent;
        }
      }
    }
  }

  .route {
    display: flex;
    flex-direction: column;
    gap: $pu-spacing-sm;

    .map-preview {
      position: relative;
      height: 180px;
      width: 100%;
      overflow: hidden;
      border-radius: 8px;

      .map-image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
      }

      .map-ops {
        position: absolute;
        right: $pu-spacing-sm;
        bottom: $pu-spacing-sm;
        display: flex;
        gap: $pu-spacing-sm;
        opacity: 0.8;
      }
    }

    .date-and-type {
      display: flex;
      align-items: center;
      gap: $pu-spacing-xs;

      .date {
        color: $pu-color-on-surface;
        @include pu-font("label-small");
      }
      .dot,
      .type {
        color: $pu-color-on-surface-variant;
        @include pu-font("label-small");
      }
    }

    .route-list {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .route-item {
        display: flex;
        gap: 12px;
        align-items: center;
      }

      .type-indicator {
        width: 19px;
        height: $pu-icon-size-small;
        &.start {
          background: $pu-color-green;
          border-radius: $pu-radius-full;
        }
        &.end {
          background: $pu-color-red;
          border-radius: $pu-radius-full;
        }
        &.waypoint {
          background: $pu-color-secondary;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: $pu-spacing-xs;
        .address {
          color: $pu-color-on-surface;
          @include pu-font("label-large");
        }
        .meta {
          display: flex;
          gap: $pu-spacing-xs;
          align-items: center;
          .time {
            color: $pu-color-on-surface-variant;
            @include pu-font("label-small");
          }
          .sep {
            color: $pu-color-on-surface-variant;
          }
          .hint {
            color: $pu-color-on-surface-variant;
            @include pu-font("label-small");
          }
        }
      }
    }
  }

  .drawer-placeholder {
    height: 155px; // drawer folded height
    flex-shrink: 0;
  }

  .drawer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $pu-spacing-lg $pu-spacing-med;
    display: flex;
    flex-direction: column;
    gap: $pu-spacing-med;

    background: linear-gradient(
      180deg,
      transparent 0%,
      $pu-color-surface-container 30%
    );
    backdrop-filter: blur(0.5px);

    .page-metadata {
      display: flex;
      flex-direction: column;
      gap: $pu-spacing-sm;

      .tags {
        display: flex;
        justify-content: flex-end;
        gap: $pu-spacing-sm;
      }

      .identifier {
        @include pu-font-headline-large;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .id {
          font-weight: 100;
          color: $pu-color-on-surface-variant;
        }
        .title {
          color: $pu-color-on-surface;
        }
      }

      .summary {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        @include pu-font("body-large");

        .title {
          color: $pu-color-on-surface;
        }

        .description {
          color: $pu-color-on-surface-variant;
        }
      }
    }

    .operations {
      .apply-btn {
        width: 100%;
      }
    }
  }
}
