

.notification {
  padding: $pu-spacing-med 0;

  display: flex;
  flex-direction: column;
  gap: $pu-spacing-med;

  .header {
    padding: 0 $pu-spacing-med;
    box-sizing: border-box;
    width: 100%;
  }
}

.chat-list {
}
