/* Styles of Page:Home */

@use "@/styles/main.scss" as *;

@include b(main) {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // gap: $-sys-gap-vertical-6;

  margin-left: $pu-spacing-med;
  margin-right: $pu-spacing-med;
  margin-top: 12vh;
}

@include b(header) {
  display: flex;
  flex-direction: column;
  gap: $pu-spacing-lg;
}

@include b(welcome) {
  display: flex;
  align-items: center;

  @include pu-font-headline-small;

  @include e(text) {
    display: flex;
    align-items: center;
    gap: $pu-spacing-sm;

    font-weight: 600;

    @include e(greet) {
      color: $pu-color-on-surface;
    }

    @include e(nickname) {
      color: $pu-color-tertiary;
    }
  }

  @include e(emoji) {
    // flex-grow: 1;
    margin: auto;

    @include pu-font-headline-large;
  }
}

.section-title {
  font-weight: 300;
  font-size: $pu-font-headline-small-size;
}

@include b(line-card) {
  color: $pu-color-primary-on;
  background-color: $pu-color-primary-container;
  padding: $pu-spacing-med $pu-spacing-med;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include pu-font-title-medium;
  border-radius: $pu-radius-sm;

  @include edeep(icon) {
    color: $pu-color-primary-on;
    font-size: $pu-font-title-medium-size;
  }
}

/* 创建搭子请求 */
@include b(cpr) {
  margin-top: $pu-spacing-med;

  display: flex;
  flex-direction: column;
  gap: $pu-spacing-sm;

  @include e(title) {
    @extend .section-title;
  }

  /* 正在寻找的搭子请�?*/
  @include e(waiting) {
  }

  /* 搭子类型卡片列表 */
  @include e(type-picker) {
    min-height: 146px;
    height: 17vh;
  }
}

/** 发现搭子请求 */
@include b(prd) {
  margin-top: $pu-spacing-med;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include e(title) {
    @extend .section-title;
  }

  @include edeep(icon) {
    font-size: $pu-font-headline-small-size;
    color: $pu-color-secondary;
  }
}

/** 新用户引导 */
@include b(to-guide) {
  // margin-top: $-sys-margin-vertical-5;
}
