

.dep-datetime-editor {
  padding: sys-var(spacing, med);
}

.title {
  margin-bottom: sys-var(spacing, lg);

  @include pu-font(headline-large);
}

.tp {
  &__title {
    @extend .title;
  }

  &__picker {
    height: 110px;
    width: 100%;
  }
}

.trpn {
  &__title {
    @extend .title;
  }

  &__picker {
    height: 110px;
    width: 100%;
  }
}

// .dep-datetime-editor {
//   height: 100%;
//   overflow-y: scroll;
// }
