// Styles of CreateTripPartnerRequestPage

@use "@/styles/main.scss" as *;

.dep-datetime-editor {
  padding: $pu-spacing-med;
}

.title {
  margin-bottom: $pu-spacing-lg;

  @include pu-font(headline-small);
}

@include b(tp) {
  @include e(title) {
    @extend .title;
  }

  @include e(picker) {
    height: 110px;
    width: 100%;
  }
}

@include b(trpn) {
  @include e(title) {
    @extend .title;
  }

  @include e(picker) {
    height: 110px;
    width: 100%;
  }
}
