@use "@/styles/main.scss" as *;

.pu-input {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  text-align: left;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: $pu-color-outline-variant;
    transform: scaleY(0.5);
    transition: background-color 0.2s ease-in-out;
  }

  &.is-not-empty {
    &:not(.is-disabled) {
      &::after {
        background-color: $pu-color-outline;
      }
    }
  }

  &.is-cell {
    padding: $pu-spacing-med;
    display: flex;
  }

  &.is-center {
    .pu-input__label {
      align-items: center;
    }
  }

  &.is-error {
    &::after {
      background-color: $pu-color-error;
    }

    .pu-input__inner {
      color: $pu-color-error;
    }
  }

  &.is-disabled {
    opacity: $pu-opacity-disabled;

    .pu-input__inner {
      color: $pu-color-on-surface-variant;
      background: transparent;
    }
  }

  &.is-no-border {
    &::after {
      display: none;
    }
  }
}

.pu-input__label {
  position: relative;
  display: flex;
  box-sizing: border-box;
  color: $pu-color-on-surface;
  @include pu-font("label-large");
  flex-shrink: 0;
  margin-right: $pu-spacing-med;
}

.pu-input__label-inner {
  display: flex;
  align-items: center;
}

.pu-input__required {
  color: $pu-color-error;
  margin-left: 2px;
  font-size: 14px;

  &--left {
    margin-right: 2px;
    margin-left: 0;
  }
}

.pu-input__body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pu-input__value {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: $pu-spacing-xs $pu-spacing-sm;
}

.pu-input__prefix,
.pu-input__suffix {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.pu-input__prefix {
  margin-right: $pu-spacing-sm;
}

.pu-input__suffix {
  margin-left: $pu-spacing-sm;
  gap: $pu-spacing-sm;
}

.pu-input__icon {
  @include pu-icon("medium");
  color: $pu-color-on-surface-variant;
  cursor: pointer;
  transition: color 0.2s;

  &:active {
    color: $pu-color-on-surface;
  }
}

.pu-input__clear {
  @include pu-icon("medium");
  color: $pu-color-on-surface-variant;
  cursor: pointer;

  &:active {
    color: $pu-color-on-surface;
  }
}

.pu-input__inner {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: $pu-color-on-surface;
  padding: 0;
  height: var(--pu-input-height);
  width: 100%;
  box-sizing: border-box;
  @include pu-font("label-large");

  &::placeholder {
    color: $pu-color-on-surface-variant;
  }

  &--prefix {
    padding-left: 0;
  }

  &.is-align-right {
    text-align: right;
  }
}

.pu-input__count {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: $pu-color-on-surface-variant;
  @include pu-font("label-medium");
}

.pu-input__count-current {
  color: $pu-color-on-surface;

  &.is-error {
    color: $pu-color-error;
  }
}

.pu-input__error-message {
  color: $pu-color-error;
  @include pu-font("label-medium");
  margin-top: $pu-spacing-xs;
  line-height: 1.4;
}
