

.partners-editor {
  display: flex;
  flex-direction: column;
  gap: sys-var(spacing, sm);
  align-items: flex-end;

  &__list {
    display: flex;
    flex-direction: column;
    gap: sys-var(spacing, sm);
    align-self: stretch;
  }

  &__add-button {
    display: flex;
    justify-content: center;
    padding: sys-var(spacing, sm) 0;
  }
}
