@use "@/styles/main.scss" as *;

.swiper {
  height: 100vh;
  width: 100vw;

  background-color: $pu-color-surface;
  color: $pu-color-on-surface;
}

.cont {
  margin-right: $pu-spacing-med;
  margin-left: $pu-spacing-med;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.progress-indicator {
  padding-top: $pu-spacing-sm;
  padding-bottom: $pu-spacing-xs;

  text {
    @include pu-font("label-medium");
    color: $pu-color-on-surface-variant;
  }
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: $pu-spacing-lg;
}

.operations {
  margin-left: auto;
  margin-bottom: $pu-spacing-med;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: $pu-spacing-sm;

  .item {
    display: flex;
    align-items: center;
    gap: $pu-spacing-xs;

    @include pu-font("label-large");
  }
}

.next {
  color: $pu-color-secondary;

  &__icon {
    color: $pu-color-secondary;
    @include pu-icon("small");
  }
}

.skip-all {
  color: $pu-color-on-surface;

  &__icon {
    color: $pu-color-on-surface;
    @include pu-icon("small");
  }
}

.finish {
  color: $pu-color-secondary;

  &__icon {
    color: $pu-color-secondary;
    @include pu-icon("small");
  }
}

.l2type-picker {
  padding: $pu-spacing-med;

  .title {
    margin-bottom: $pu-spacing-med;

    @include pu-font("title-large");
  }
}
