

.swiper {
  height: 100vh;
  width: 100vw;

  background-color: sys-var(color, surface);
  color: sys-var(color, on-surface);
}

.cont {
  margin-right: sys-var(spacing, med);
  margin-left: sys-var(spacing, med);

  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.progress-indicator {
  padding-top: sys-var(spacing, sm);
  padding-bottom: sys-var(spacing, xs);

  text {
    @include pu-font("label-medium");
    color: sys-var(color, on-surface-variant);
  }
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: sys-var(spacing, lg);
}

.operations {
  margin-left: auto;
  margin-bottom: sys-var(spacing, med);

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: sys-var(spacing, sm);

  .item {
    display: flex;
    align-items: center;
    gap: sys-var(spacing, xs);

    @include pu-font("label-large");
  }
}

.next {
  color: sys-var(color, secondary);

  &__icon {
    color: sys-var(color, secondary);
    @include pu-icon("small");
  }
}

.skip-all {
  color: sys-var(color, on-surface);

  &__icon {
    color: sys-var(color, on-surface);
    @include pu-icon("small");
  }
}

.finish {
  color: sys-var(color, secondary);

  &__icon {
    color: sys-var(color, secondary);
    @include pu-icon("small");
  }
}
