

.me-page {
  --background-color: #{sys-var(color, surface)};

  display: flex;
  flex-direction: column;

  &__main {
    display: flex;
    flex-direction: column;
    gap: sys-var(spacing, lg);
    padding: 0 sys-var(spacing, med);
  }

  &__welcome {
    @include pu-font(headline-large);
    color: sys-var(color, on-surface);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: sys-var(spacing, med);
    padding: 0 sys-var(spacing, sm);
  }

  // Operations buttons area
  &__operations {
    display: flex;
    flex-direction: row;
    gap: sys-var(spacing, xs);
    align-items: center;
  }

  // Edit card
  &__base-profile-form {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}

.profile-metadata {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: sys-var(radius, med);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  .nickname {
    @include pu-font("title-large");
    color: sys-var(color, on-surface);
    height: 1.4em;
  }

  .nickname-editor {
    color: sys-var(color, tertiary);
  }

  .joined-at {
    @include pu-font("label-small");
    color: sys-var(color, on-surface-variant);
  }
}

.edit-card__fields {
  display: flex;
  flex-direction: column;
  gap: sys-var(spacing, sm);
  padding: sys-var(spacing, xs) 0;
}
