@use "@/styles/main.scss" as *;

.pu-textarea {
  display: flex;
  flex-direction: column;
  gap: $pu-spacing-xs;
  background-color: var(--pu-textarea-bg-color, #{$pu-color-surface-container});
  box-sizing: border-box;
  transition: border 0.2s;

  &.is-disabled {
    opacity: 0.6;
  }

  &.is-focused {
    border: 1px solid $pu-color-primary;
  }

  .label {
    color: $pu-color-on-surface-variant;
    @include pu-font-size("label-large");
  }

  .field {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .inner {
    color: $pu-color-on-surface;
    @include pu-font("label-large");
    padding: $pu-spacing-xs $pu-spacing-sm;
    background-color: transparent;
    box-sizing: border-box;
    height: var(--pu-textarea-min-height);
    transition: height 0.2s;
    width: 100%;

    &.focused {
      height: var(--pu-textarea-min-height-focus);
    }
  }

  .count {
    display: absolute;
    align-self: flex-end;
    bottom: $pu-spacing-xs;
    right: $pu-spacing-sm;
    color: $pu-color-on-surface-variant;
  }
}
