

.ri {
  display: flex;
  gap: sys-var(spacing, sm);
}

.indicator {
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: sys-var(spacing, xs);

  .circle {
    width: 11px;
    height: 11px;
    border-radius: sys-var(radius, full);
    background-color: sys-var(color, green);
  }
  &.waypoint .circle {
    background-color: sys-var(color, blue);
  }
  &.end .circle {
    background-color: sys-var(color, red);
  }

  .connector {
    flex: 1 1 0%;
    width: 0.5px;
    min-height: 4px;
    background: sys-var(color, on-surface-variant);
  }
}

.content {
  display: flex;
  align-items: center;

  &--col {
    flex-direction: column;
    align-items: flex-start;
  }

  .address {
    @include pu-font("label-large");
    color: sys-var(color, on-surface);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
