

.partner {
  display: flex;
  flex-direction: column;
  gap: sys-var(spacing, sm);

  &.type-default {
    padding: sys-var(spacing, sm) sys-var(spacing, med);
    background-color: sys-var(color, surface-container);
  }

  &.type-editor {
    padding: 0 0;
    background-color: transparent;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      gap: sys-var(spacing, sm);

      .id-text {
        @include pu-font("label-large", true);
        color: sys-var(color, on-surface-variant);
      }

      .role-name {
        @include pu-font("label-large");
        color: sys-var(color, on-surface);
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: sys-var(spacing, sm);

      .player {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: sys-var(spacing, xs);
        color: sys-var(color, on-surface);
        font-size: sys-var(font, label-small, size);
      }

      .chevron {
        display: flex;
        align-items: center;
        justify-content: center;
        @include pu-icon("small");
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: sys-var(spacing, sm);

    .rule {
      font-size: sys-var(font, label-large, size);
      color: sys-var(color, on-surface);
    }
  }

  &--expand {
    .type-default.header,
    .type-editor.header {
      .left {
        .id-text {
          @include pu-font("body-large", true);
        }

        .role-name {
          @include pu-font("body-large");
        }
      }
    }
  }

  &--fold {
    .type-editor.header {
      .left {
        .id-text {
          @include pu-font("body-large", true);
        }

        .role-name {
          @include pu-font("body-large");
        }
      }
    }
  }
}
