@use "@/styles/main.scss" as *;

.partner {
  display: flex;
  flex-direction: column;
  gap: $pu-spacing-sm;

  &.type-default {
    padding: $pu-spacing-sm $pu-spacing-med;
    background-color: $pu-color-surface-container;
  }

  &.type-editor {
    padding: 0 0;
    background-color: transparent;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      gap: $pu-spacing-sm;

      .id-text {
        @include pu-font("label-large", true);
        color: $pu-color-on-surface-variant;
      }

      .role-name {
        @include pu-font("label-large");
        color: $pu-color-on-surface;
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: $pu-spacing-sm;

      .player {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: $pu-spacing-xs;
        color: $pu-color-on-surface;
        @include pu-font-size("label-small");
      }

      .chevron {
        display: flex;
        align-items: center;
        justify-content: center;
        @include pu-icon("small");
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: $pu-spacing-sm;

    .rule {
      @include pu-font-size("label-large");
      color: $pu-color-on-surface;
    }
  }

  &--expand {
    .type-default.header,
    .type-editor.header {
      .left {
        .id-text {
          @include pu-font("body-large", true);
        }

        .role-name {
          @include pu-font("body-large");
        }
      }
    }
  }

  &--fold {
    .type-editor.header {
      .left {
        .id-text {
          @include pu-font("body-large", true);
        }

        .role-name {
          @include pu-font("body-large");
        }
      }
    }
  }
}
