

.pr-apply-form {
  display: flex;
  flex-direction: column;
  gap: sys-var(spacing, med);

  .title {
    display: flex;
    flex-direction: column;
    .title-text {
      color: sys-var(color, on-surface);
      @include pu-font("title-medium");
    }
    .subtitle {
      color: sys-var(color, on-surface-variant);
      @include pu-font("label-medium");
    }
  }

  .applying-roles {
    display: flex;
    flex-direction: column;
    gap: sys-var(spacing, med);
    overflow-y: auto;
  }
}
