

.page-back {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.15s ease;
  &:active {
    background: sys-var(color, surface-container);
  }

  &.small {
    @include pu-icon("small");
  }
  &.large {
    @include pu-icon("large");
  }

  .icon {
    font-size: sys-var(font, label-large, size);
  }
}
