

.page-back {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.15s ease;

  color: sys-var(color, on-surface);

  &:active {
    background: sys-var(color, surface-container);
  }

  &.small {
    @include pu-icon("small");
  }
  &.large {
    @include pu-icon("large");
  }
}
