@use "@/styles/main.scss" as *;

.page-back {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.15s ease;
  &:active {
    background: $pu-color-surface-container;
  }

  &.small {
    @include pu-icon("small");
  }
  &.large {
    @include pu-icon("large");
  }

  .icon {
    @include pu-font-size("label-large");
  }
}
