

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  padding: sys-var(spacing, sm) sys-var(spacing, med);

  &__container {
    &--secondary {
      background-color: sys-var(color, secondary);
      color: sys-var(color, on-secondary);
    }

    &--surface {
      background-color: sys-var(color, surface);
      color: sys-var(color, on-surface);
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: sys-var(spacing, sm);
    max-width: 54%;
    overflow-x: scroll;

    &__title {
      @include pu-font("body-large");
      overflow-x: scroll;
      white-space: nowrap;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: sys-var(spacing, sm);
  }

  &__icon-button {
    @include pu-icon("small", true);
    cursor: pointer;
  }
}
