

.pr-geo-element-filter {
  display: flex;
  flex-direction: column;
  gap: sys-var(spacing, sm);
}

.geo-elements {
  height: 60px; // exactly the GeoElement height

  &.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    color: sys-var(color, on-surface-variant);
    font-size: sys-var(font, label-large, size);
  }
}
