

.title {
  color: sys-var(color, on-surface);
  font-size: sys-var(font, label-large, size);
}

.current-value {
  color: sys-var(color, on-surface);
  font-size: sys-var(font, body-large, size);
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.picker-popup__content {
  padding: 6px 0px 50px 0px;

  .operation {
    padding: 0px 8px;
  }
}

.text-button {
  font-size: sys-var(font, label-large, size);
  padding: 4px 4px;
}

.text-button__sub {
  @extend .text-button;
  color: sys-var(color, on-surface-variant);
}

.text-button__primary {
  @extend .text-button;
  color: sys-var(color, secondary);
}
