@use "@/styles/main.scss" as *;

.pu-map {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: $pu-radius-sm;

  .map-view {
    width: 100%;
    height: 100%;
  }

  /* 地图操作按钮容器 */
  .operations {
    position: absolute;
    bottom: $pu-spacing-sm;
    right: $pu-spacing-sm;
    display: flex;
    flex-direction: column;
    gap: $pu-spacing-xs;
    opacity: 0.8;
  }
}
