

.geo-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $pu-spacing-sm $pu-spacing-med;
  background-color: $pu-color-surface-container;
  min-height: $pu-size-small;

  .preview {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $pu-spacing-xs;
    width: 116px;
  }

  .poi-item {
    display: flex;
    align-items: center;
    gap: $pu-spacing-sm + $pu-spacing-xs; // 12px gap
    width: 100%;
  }

  .type-indicator {
    flex-shrink: 0;
    width: $pu-icon-size-small;
    height: $pu-icon-size-small;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .type-icon {
    width: 100%;
    height: 100%;
    color: $pu-color-on-surface;
  }

  .address {
    @include pu-font("body-large");
    color: $pu-color-on-surface;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .item-type {
    flex-shrink: 0;
    width: $pu-icon-size-medium;
    height: $pu-icon-size-medium;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .item-type-icon {
    width: 100%;
    height: 100%;
    color: $pu-color-on-surface;
  }
}
