

.route-item-location-editor {
  display: flex;
  flex-direction: column;
  gap: sys-var(spacing, sm);

  &__form {
    display: flex;
    flex-direction: column;
    gap: sys-var(spacing, xs);
  }

  &__address-value {
    @include pu-font("label-large");
    color: sys-var(color, on-surface);

    &--empty {
      color: sys-var(color, on-surface-variant);
      opacity: 0.6;
    }
  }

  &__error-message {
    @include pu-font("label-large");
    color: sys-var(color, error);
    padding: 0px sys-var(spacing, lg);
    min-height: 20px;
  }

  &__operations {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "choose-location choose-location"
      "cancel confirm";
    gap: sys-var(spacing, xs);
    padding: 0px sys-var(spacing, lg);
  }

  &__choose-btn {
    grid-area: choose-location;
  }

  &__cancel-btn {
    grid-area: cancel;
  }

  &__confirm-btn {
    grid-area: confirm;
  }
}
