

.headline {
  margin-left: $pu-spacing-med;
  margin-top: $pu-spacing-med;

  &__fir {
    @include pu-font(headline-large);

    .icon {
      display: inline;
    }
  }

  &__sec {
    margin-top: $pu-spacing-sm;
    color: $pu-color-secondary;

    @include pu-font(title-medium);
  }
}

.cont {
  margin-top: $pu-spacing-lg;
  margin-left: $pu-spacing-med;
  margin-right: $pu-spacing-med;

  display: flex;
  flex-direction: column;
  gap: $pu-spacing-lg;
}

.l1-type-picker {
  &__title {
    text-align: right;
    @include pu-font(title-medium);
  }

  &__picker {
    margin-left: auto;
    margin-top: $pu-spacing-med;

    height: 32vh;
    width: 76vw;
    min-height: 112px;
  }
}

.con-from-draft {
  &__title {
    text-align: right;
    @include pu-font(title-medium);
  }

  .picker {
    margin-top: $pu-spacing-med;

    height: 15vh;
    max-height: 200px;
    min-height: 82px;
  }
}

.con-from-cache {
  text-align: right;
  $-font-color: $pu-color-secondary;

  &__title {
    color: $-font-color;
    text-decoration: underline;
    text-underline-offset: 2px;

    @include pu-font(title-medium);
  }

  .icon {
    color: $-font-color !important;
    font-size: $pu-font-title-medium-size;
  }
}
