

.route-preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: sys-var(spacing, xs);

  .route-item {
    display: flex;
    align-items: center;
    gap: 12px; // sm + xs = 8px + 4px
  }

  .type-indicator {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: sys-var(radius, full);
  }

  .indicator-type-start {
    background-color: sys-var(color, green);
  }

  .indicator-type-end {
    background-color: sys-var(color, red);
  }

  .address {
    @include pu-font("label-large");
    color: sys-var(color, on-surface);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
