// Styles of component:partner_request:trip:tripPreferenceEditor

@use "@/static/style/_mixin.scss";
@use "@/static/style/_space.scss";
@use "@/static/style/_color.scss";
@use "@/static/style/_elevation.scss";
@use "@/static/style/_shape.scss";
@use "@/static/style/_font.scss";

.error-msg {
    margin: $-sys-margin-vertical-2 $-sys-margin-horizontal-1 $-sys-margin-vertical-2 auto;
    color: $-sys-color-error;
    
    @include pu-font-label-medium;
}

.tp-picker {
    padding: $-sys-padding-3-landscape;
    height: 110px;
}

@include b(luggage) {
    @include e(title) {
        display: flex;
        align-items: center;
        gap: $-sys-gap-horizontal-1;

        @include pu-font-label-large;
    }

    @include e(value) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    @include edeep(input) {
        width: 65px;
    }

    @include edeep(icon) {
        font-size: $-sys-font-label-large-size;
    }
}
