

.plain-msg {
  text-align: start;
  padding: sys-var(spacing, sm) 12px;
  box-sizing: border-box;
  border-radius: 0 sys-var(radius, med) sys-var(radius, med) sys-var(radius, med);

  background: sys-var(color, surface-container);
  color: sys-var(color, on-surface);

  &__text {
    word-wrap: break-word;
    @include pu-font("label-large");
  }

  &--mine {
    background: sys-var(color, primary-container);
    color: sys-var(color, on-primary-container);
    border-radius: sys-var(radius, med) 0 sys-var(radius, med) sys-var(radius, med);
    text-align: end;
  }
}
