

.trip-preference-form {
  display: flex;
  flex-direction: column;
}

.luggage-input {
  display: flex;
  align-items: center;
  gap: sys-var(spacing, xs);
}

.luggage-unit {
  font-size: sys-var(font, label-large, size);
  color: sys-var(color, on-surface);
}
