

.route-item-datetime-editor {
  display: flex;
  flex-direction: column;
  gap: sys-var(spacing, sm);

  &__current {
    @include pu-font("body-large");
    color: sys-var(color, on-surface-variant);
    text-align: center;
    padding: sys-var(spacing, med) 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__operations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: sys-var(spacing, sm);
    padding: sys-var(spacing, med) sys-var(spacing, lg);
  }
}
